*{
    box-sizing: border-box;
}
:root{
    --black : #111111;
    --purple : #4c3a70;
    --white : #f5f5f5;
    --grey : #b9b9b9;
}

/* root classes */
.black{
    color: var(--black);
}
.purple{
    color: var(--purple);
}
.white {
    color: var(--white);
}
.grey-bg {
    background-color: var(--grey);
}
.black-bg{
    background-color: var(--black);
}
.purple-bg{
    background-color: var(--purple);
}
.white-bg {
    background-color: var(--white);
}
.inter {
    font-family: Inter;
}
.alef{
    font-family: Alef;
}

body{
    background-color: var(--white);
}

.navbar-toggler{
    border: none;
    outline: none;
    box-shadow: none;
}
.navbar-toggler:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.divider {
    margin: 20px 0px;
    height: 5px;
    width: 150px;
    background-color: var(--purple);
}
#header-menu a{
    color: var(--black);
}
#header-menu a:hover{
    color: var(--purple);
}
.my-btn{
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 0;
}
.my-btn:hover{
    color: var(--white);
    background-color: var(--purple);
}
.lift{
    transition: .3s ease;
}
.lift:hover{
    transform: translate(0px,-3px) scale(1.01);

}
.skill{
    height: 100px;
    box-shadow: 2px 2px 5px 1px  rgb(150, 150, 150);
}
.skill-container .inter {
    font-size: 14px;
}
/* footer{
    margin-bottom: 500px;
} */

.wp{

    background-color: #21759b;
}
.em{

    background-color: rgb(255, 0, 157);
}
.htl{

    background-color: #F06529;
}
.cs{

    background-color: #663399;
}
.js{

    background-color: #F7DF1E;
    
}

.pbox img{
    height: auto;
    width: 100%;
}

.contact-main {
    padding: 20px 40px;
}
.form-container{
    padding: 30px;
    margin-top: 40px;
}
.contact-form{
    color: var(--black);
    font-family: inter;
}
.contact-form input, .contact-form textarea {
    border: var(--black) solid 1px;
}
 .contact-form input:focus , .contact-form textarea:focus{
    border: var(--purple) solid 2px;
    outline: none;
}

.carousel-item {
    padding: 50px;
}
.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-control-prev-icon , .carousel-control-next-icon {
    width: 1.4rem;
}
.carousel-indicators [data-bs-target] {
    margin: 0px 8px ;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}


@media screen and (min-width: 576px) {
    .logo{
        font-size: 30px;
        }
    body{
        padding: 0px 30px;
    }
    .skill{
        height: 120px;
    }
    .skill-container .row{
        padding: 20px 0px;
    }
    .skill-container .inter {
    font-size: 16px;
    }

    .contact-main{
        padding: 20px 60px;
    }
    .form-container{
    padding: 40px 40px;
   }
   .carousel-item {
    padding: 50px 60px;
   }
   
   .carousel-control-prev-icon , .carousel-control-next-icon {
    width: 1.8rem;
    }
    
}  
@media screen and (min-width: 768px) {

        .skill{
        height: 130px;
    }
     .skill-container .row{
            padding: 20px 80px;
        }

        .form-container{
    padding: 40px 80px;
    }
    .contact-main{
        padding: 20px 120px;
    }
    .carousel-item {
        padding: 50px 100px;
    }


}

@media screen and (min-width: 992px) {

       .skill-container .row {
        padding: 20px 120px;
       }
       .contact-main{
        padding: 20px 200px;
    }
    .carousel-item{
        padding: 60px 120px;
    }
      

}
@media screen and (min-width: 1200px) {
    .contact-main{
        padding: 20px 300px;
    }
    .carousel-item {
        padding: 60px 140px;
    }
}




  /* lg-992   x-lg-1200 xx-lg-1400 */